<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="shortcut icon" href="#" type="image/jpg">

    <title>About Us</title>

    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/new.css" />
    <link rel="stylesheet" type="text/css" href="css/card.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <style>
      .containerxx {
  padding: 20px 40px 40px;
  max-width: 640px;
  display: flex;
  &__image {
    margin: 20px 30px 0 0;
    width: 200px;
    object-fit: contain;
    align-self: flex-start;
  }
  &__text {
    flex: 1 1 auto;
  }
}
    </style>
    
  </head>
  <body>
    
    <header class="header">
      <a href="/" class="logo"><span>The Fellowship </span>
        <br/>
        <p style="font-size: 20px;text-align:center;"><span class="yellow">Reveal to Heal</span></p>
     </a>
     <nav class="navbar">
      <a href="/">Home</a>
      <a href="contactus">Contact Us</a>
      <a href="login">Login</a>
      <a href="#"></a>
     </nav>
    
     
      <div class="hamburger">
        <img src="images/grid-outline.svg" alt="" />
      </div>
    </header>
    <section class="services" id="timeline" style="background-color:antiquewhite;">
      <h1 style="text-align: center; margin-top:50px;">About Us</h1><br/> <br/> 
        <h2 style="font-family:Arial, Helvetica, sans-serif; margin-left: 100px; margin-right: 700px;">
            Wouldn't life be easier if every time we needed help it would magically appear in front of us?</h2>
            <img style="float: right; margin-right:30px; height: 475px; width: 535px;" src="images/about.png" />
           &nbsp; <p style="margin-left: 100px; margin-right: 700px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;The Fellowship Online Counselling truly makes help closer than ever by creating a place where expert help is always available, day or night. With more than 30,000 registered experts in over 600 categories, we offer professional services for businesses and individuals - provided by our experts, and tutoring for students – provided by our tutors.</p>
            <br/>
            <h2 style="font-family:Arial, Helvetica, sans-serif; margin-left: 100px; margin-right: 700px;">Knowledge appears when you need it</h2>
            &nbsp;<p style="margin-left: 100px; margin-right: 700px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  With Change Online Counselling help comes in real-time and on-demand. Our customers receive all the tools to connect immediately with an expert on any subject via chat, phone, and email. Accessing the world’s experts and their knowledge had never been easier.
            </p>
            <br/>
            <h2 style="font-family:Arial, Helvetica, sans-serif; margin-left: 100px; margin-right: 700px;">A marketplace of independent certified experts</h2>
            &nbsp; <p style="margin-left: 100px; margin-right: 700px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Registered experts are listed according to their professional expertise and are available for hire by any Change Online Counselling member. To maintain the high standards of service and professionalism, expert credentials are thoroughly checked. In addition, ratings and reviews from other customers continuously ensure quality
            </p>
    </section>
    
        <footer class="footer">
            <div class="bottom">
            
             <div class="rowxx">
             
                    <div>
                    <a href="feedback" style="text-decoration: none;"><h3>Feedback</h3></a><br/>
                    <a href="tutordetails" style="text-decoration: none;"><h3>Join as</h3>
                      <h3>Expert</h3></a><br/>
                    <a href="about" style="text-decoration: none;"><h3>About Us</h3></a></div><br/>
                    <div>
                    <h2><a href="https://www.instagram.com/change" style="color: black; text-decoration: none;" class="fa fa-instagram" aria-hidden="true" ></a></h2><br/>
                    <h2><a href="https://www.twitter.com/change" style="color: black;  text-decoration: none;" class="fa fa-twitter" aria-hidden="true" ></a></h2><br/>
                    <h2><a href="https://www.facebook.com/change" style="color: black;  text-decoration: none;" class="fa fa-facebook" aria-hidden="true" ></a></h2><br/>
                  </div>
            <br/>
                    <div style="text-align: center;">
                      <br/>
                      <button id="top">
                        <i class="material-icons">arrow_upward</i>
                      </button>
                      <br><br>
                      <h3>Back to Top</h3>
                    </div>
                  </div>
            </div>
            <div class="bottom" style="justify-content: center;">
            <p>Copyright © 2022 Devakumar. All rights reserved.</p>
            <br/><br/>
      </div>
          </footer>
      
          <!-- Go To Top -->
          <div class="scroll-top">
            <img src="images/arrow-up-outline.svg" alt="" />
          </div>
          <!-- Scripts -->
          <script src="js/script.js"></script>
          <script>
                const Top=document.getElementById("top");
            Top.addEventListener("click",function () {
              window.scrollTo({
                top:0,
                left:0,
                behavior:'smooth'
              });
            });
          </script>
      
        </body>
      </html>
      